In [2]:
import pandas as pd
df1 = pd.read_csv("C:\\Users\\Gyanendra\\Desktop\\files\\book.csv")
df2 = pd.read_csv("C:\\Users\\Gyanendra\\Desktop\\files\\book_new.csv")
df1.shape

(211, 5)

In [3]:
df1.head()

,Title,Author,Genre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin

In [4]:
df2.head()

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin

In [5]:
df1.isna()

     Title  Author  Genre  Height  Publisher
0    False   False  False   False      False
1    False   False  False   False      False
2    False   False  False   False      False
3    False   False  False   False      False
4    False   False  False   False      False
..     ...     ...    ...     ...        ...
206  False   False  False   False       True
207  False   False  False   False       True
208  False   False  False   False       True
209  False   False  False   False       True
210  False   False  False   False       True

[211 rows x 5 columns]

In [6]:
for cols in df1:
    print(f"{cols} : {df1[cols].unique()}")

Title : ['Fundamentals of Wavelets' 'Data Smart' 'God Created the Integers'
 'Superfreakonomics' 'Orientalism'
 'Nature of Statistical Learning Theory, The'
 'Integration of the Indian States' "Drunkard's Walk, The"
 'Image Processing & Mathematical Morphology'
 'How to Think Like Sherlock Holmes' 'Data Scientists at Work'
 'Slaughterhouse Five' 'Birth of a Theorem'
 'Structure & Interpretation of Computer Programs' 'Age of Wrath, The'
 'Trial, The' "Statistical Decision Theory'" 'Data Mining Handbook'
 'New Machiavelli, The' 'Physics & Philosophy' 'Making Software'
 'Analysis, Vol I' 'Machine Learning for Hackers'
 'Signal and the Noise, The' 'Python for Data Analysis'
 'Introduction to Algorithms' 'Beautiful and the Damned, The'
 'Outsider, The' 'Complete Sherlock Holmes, The - Vol I'
 'Complete Sherlock Holmes, The - Vol II' 'Wealth of Nations, The'
 'Pillars of the Earth, The' 'Mein Kampf' 'Tao of Physics, The'
 "Surely You're Joking Mr Feynman" 'Farewell to Arms, A' 'Veteran, The'
 'False Impressions' 'Last Lecture, The' 'Return of the Primitive'
 'Jurassic Park' 'Russian Journal, A' 'Tales of Mystery and Imagination'
 'Freakonomics' 'Hidden Connections, The' 'Story of Philosophy, The'
 'Asami Asami' 'Journal of a Novel' 'Once There Was a War'
 'Moon is Down, The' 'Brethren, The' 'In a Free State' 'Catch 22'
 'Complete Mastermind, The' 'Dylan on Dylan'
 'Soft Computing & Intelligent Systems' 'Textbook of Economic Theory'
 'Econometric Analysis' 'Learning OpenCV' 'Data Structures Using C & C++'
 'Computer Vision, A Modern Approach'
 'Principles of Communication Systems' 'Let Us C'
 'Amulet of Samarkand, The' 'Crime and Punishment' 'Angels & Demons'
 'Argumentative Indian, The' 'Sea of Poppies' 'Idea of Justice, The'
 'Raisin in the Sun, A' "All the President's Men" 'Prisoner of Birth, A'
 'Scoop!' 'Ahe Manohar Tari' 'Last Mughal, The'
 'Social Choice & Welfare, Vol 39 No. 1' 'Radiowaril Bhashane & Shrutika'
 'Gun Gayin Awadi' 'Aghal Paghal' 'Maqta-e-Ghalib' 'Beyond Degrees'
 'Manasa' 'India from Midnight to Milennium'
 "World's Greatest Trials, The" 'Great Indian Novel, The' 'O Jerusalem!'
 'City of Joy, The' 'Freedom at Midnight' 'Winter of Our Discontent, The'
 'On Education' 'Free Will' 'Bookless in Baghdad'
 'Case of the Lame Canary, The' 'Theory of Everything, The'
 'New Markets & Other Essays' 'Electric Universe'
 'Hunchback of Notre Dame, The' 'Burning Bright'
 'Age of Discontuinity, The' 'Doctor in the Nude'
 'Down and Out in Paris & London' 'Identity & Violence'
 'Beyond the Three Seas' "World's Greatest Short Stories, The"
 'Talking Straight' "Maugham's Collected Short Stories, Vol 3"
 'Phantom of Manhattan, The' 'Ashenden of The British Agent'
 'Zen & The Art of Motorcycle Maintenance'
 'Great War for Civilization, The' 'We the Living'
 'Artist and the Mathematician, The' 'History of Western Philosophy'
 'Selected Short Stories' 'Rationality & Freedom'
 'Clash of Civilizations and Remaking of the World Order'
 'Uncommon Wisdom' 'One' 'Karl Marx Biography' 'To Sir With Love'
 'Half A Life' 'Discovery of India, The' 'Apulki' 'Unpopular Essays'
 'Deceiver, The' 'Veil: Secret Wars of the CIA' 'Char Shabda'
 'Rosy is My Relative' 'Moon and Sixpence, The' 'Political Philosophers'
 'Short History of the World, A' 'Trembling of a Leaf, The'
 'Doctor on the Brain' 'Simpsons & Their Mathematical Secrets'
 'Pattern Classification' 'From Beirut to Jerusalem' 'Code Book, The'
 'Age of the Warrior, The' 'Final Crisis' 'Killing Joke, The' 'Flashpoint'
 'Batman Earth One' 'Crisis on Infinite Earths'
 'Numbers Behind Numb3rs, The' 'Superman Earth One - 1'
 'Superman Earth One - 2' 'Justice League: Throne of Atlantis'
 "Justice League: The Villain's Journey" 'Death of Superman, The'
 'History of the DC Universe' 'Batman: The Long Halloween'
 'Life in Letters, A' 'Information, The'
 'Journal of Economics, vol 106 No 3' 'Elements of Information Theory'
 'Power Electronics - Rashid' 'Power Electronics - Mohan'
 'Neural Networks' 'Grapes of Wrath, The' 'Vyakti ani Valli'
 'Statistical Learning Theory' 'Empire of the Mughal - The Tainted Throne'
 'Empire of the Mughal - Brothers at War'
 'Empire of the Mughal - Ruler of the World'
 "Empire of the Mughal - The Serpent's Tooth"
 'Empire of the Mughal - Raiders from the North' 'Mossad'
 'Jim Corbett Omnibus' '20000 Leagues Under the Sea' 'Batatyachi Chal'
 'Hafasavnuk' 'Urlasurla' 'Pointers in C' 'Cathedral and the Bazaar, The'
 'Design with OpAmps' 'Think Complexity' "Devil's Advocate, The"
 'Ayn Rand Answers' 'Philosophy: Who Needs It'
 "World's Great Thinkers, The" 'Data Analysis with Open Source Tools'
 "Broca's Brain" 'Men of Mathematics'
 'Oxford book of Modern Science Writing'
 'Justice, Judiciary and Democracy' 'Arthashastra, The' 'We the People'
 'We the Nation' 'Courtroom Genius, The' 'Dongri to Dubai'
 'History of England, Foundation' 'City of Djinns' "India's Legal System"
 'More Tears to Cry' 'Ropemaker, The' 'Judge, The' 'Attorney, The'
 'Prince, The' 'Eyeless in Gaza' 'Tales of Beedle the Bard'
 'Girl with the Dragon Tattoo' "Girl who kicked the Hornet's Nest"
 'Girl who played with Fire' 'Batman Handbook' "Murphy's Law"
 'Structure and Randomness' 'Image Processing with MATLAB' 'Animal Farm'
 'Idiot, The' 'Christmas Carol, A']
Author : ['Goswami, Jaideva' 'Foreman, John' 'Hawking, Stephen' 'Dubner, Stephen'
 'Said, Edward' 'Vapnik, Vladimir' 'Menon, V P' 'Mlodinow, Leonard'
 'Shih, Frank' 'Konnikova, Maria' 'Sebastian Gutierrez' 'Vonnegut, Kurt'
 'Villani, Cedric' 'Sussman, Gerald' 'Eraly, Abraham' 'Kafka, Frank'
 'Pratt, John' 'Nisbet, Robert' 'Wells, H. G.' 'Heisenberg, Werner'
 'Oram, Andy' 'Tao, Terence' 'Conway, Drew' 'Silver, Nate' 'McKinney, Wes'
 'Cormen, Thomas' 'Deb, Siddhartha' 'Camus, Albert' 'Doyle, Arthur Conan'
 'Smith, Adam' 'Follett, Ken' 'Hitler, Adolf' 'Capra, Fritjof'
 'Feynman, Richard' 'Hemingway, Ernest' 'Forsyth, Frederick'
 'Archer, Jeffery' 'Pausch, Randy' 'Rand, Ayn' 'Crichton, Michael'
 'Steinbeck, John' 'Poe, Edgar Allen' 'Durant, Will' 'Deshpande, P L'
 'Grisham, John' 'Naipaul, V. S.' 'Heller, Joseph' 'BBC' 'Dylan, Bob'
 'Gupta, Madan' 'Stonier, Alfred' 'Greene, W. H.' 'Bradsky, Gary'
 'Tanenbaum, Andrew' 'Forsyth, David' 'Taub, Schilling'
 'Kanetkar, Yashwant' 'Stroud, Jonathan' 'Dostoevsky, Fyodor' 'Brown, Dan'
 'Sen, Amartya' 'Ghosh, Amitav' 'Hansberry, Lorraine' 'Woodward, Bob'
 'Nayar, Kuldip' 'Deshpande, Sunita' 'Dalrymple, William' 'Various'
 'Garg, Sanjay' nan 'Kale, V P' 'Tharoor, Shashi' 'Lapierre, Dominique'
 'Russell, Bertrand' 'Harris, Sam' 'Gardner, Earle Stanley'
 'Drucker, Peter' 'Bodanis, David' 'Hugo, Victor' 'Gordon, Richard'
 'Orwell, George' 'Iacoca, Lee' 'Maugham, William S' 'Pirsig, Robert'
 'Fisk, Robert' 'Aczel, Amir' 'Huntington, Samuel' 'Bach, Richard'
 'Braithwaite' 'Naipaul, V S' 'Nehru, Jawaharlal' 'Durrell, Gerald'
 'Wells, H G' 'Singh, Simon' 'Duda, Hart' 'Friedman, Thomas'
 'Devlin, Keith' 'Gleick, James' 'Thomas, Joy' 'Rashid, Muhammad'
 'Mohan, Ned' 'Haykin, Simon' 'Rutherford, Alex' 'Baz-Zohar, Michael'
 'Corbett, Jim' 'Verne, Jules' 'Deshpande P L' 'Raymond, Eric'
 'Franco, Sergio' 'Downey, Allen' 'West, Morris' 'Janert, Phillip'
 'Sagan, Carl' 'Bell, E T' 'Dawkins, Richard' 'Ranjan, Sudhanshu'
 'Kautiyla' 'Palkhivala' 'Sorabjee' 'Zaidi, Hussain' 'Ackroyd, Peter'
 'Nariman' 'Sassoon, Jean' 'Dickinson, Peter' 'Machiavelli'
 'Huxley, Aldous' 'Rowling, J K' 'Larsson, Steig' 'Eddins, Steve'
 'Dickens, Charles']
Genre : ['signal_processing' 'data_science' 'mathematics' 'economics' 'history'
 'science' 'psychology' 'fiction' 'computer_science' 'nonfiction'
 'philosophy' 'comic']
Height : [228 235 197 179 230 217 241 240 198 234 238 236 242 180 232 248 233 176
 175 212 177 202 174 196 172 170 205 178 255 213 209 216 199 221 222 210
 167 203 206 201 219 171 160 186 215 162 211 214 204 257 283 265 258 259
 229 237 223 190 200 189 224 173 184 270 252]
Publisher : ['Wiley' 'Penguin' 'HarperCollins' 'Springer' 'Orient Blackswan' 'CRC'
 'Apress' 'Random House' 'Bodley Head' 'MIT Press' "O'Reilly" 'HBA' 'Rupa'
 'Transworld' 'Pan' 'Hyperion' 'Pocket' 'Mauj' 'BBC' 'Elsevier' 'Pearson'
 'Prentice Hall' 'TMH' 'Picador' nan 'vikas' 'Routledge' 'FreePress'
 'Jaico' 'Vintage' 'HighStakes' 'Simon&Schuster' 'Fontana' 'Dell']

In [7]:
df1['Genre'].unique()

array(['signal_processing', 'data_science', 'mathematics', 'economics',
       'history', 'science', 'psychology', 'fiction', 'computer_science',
       'nonfiction', 'philosophy', 'comic'], dtype=object)

In [8]:
df1.Height.unique().shape

(65,)

In [9]:
df1.Height.notna()

0      True
1      True
2      True
3      True
4      True
       ...
206    True
207    True
208    True
209    True
210    True
Name: Height, Length: 211, dtype: bool

In [15]:
df1.Publisher.unique().shape

(34,)

In [17]:
df1['Publisher'].isnull().values.any()

True

In [12]:
df1.isnull().values.any()

True

In [13]:
for cols in df1:
    print(f'{cols} : {df1[cols].isnull().values.any()}')

Title : False
Author : True
Genre : False
Height : False
Publisher : True

In [14]:
for cols in df2:
    print(f"{cols} : {df2[cols].isnull().values.any()}")

Title : False
Author : True
Genre : False
SubGenre : False
Height : False
Publisher : True

In [13]:
df2.shape

(211, 6)

In [14]:
df1 = df1.drop(['Author','Publisher'],axis = 'columns')
df1

                            Title              Genre  Height
0        Fundamentals of Wavelets  signal_processing     228
1                      Data Smart       data_science     235
2        God Created the Integers        mathematics     197
3               Superfreakonomics          economics     179
4                     Orientalism            history     197
..                            ...                ...     ...
206      Structure and Randomness        mathematics     252
207  Image Processing with MATLAB  signal_processing     241
208                   Animal Farm            fiction     180
209                    Idiot, The            fiction     197
210            Christmas Carol, A            fiction     196

[211 rows x 3 columns]

In [15]:
df1

                            Title              Genre  Height
0        Fundamentals of Wavelets  signal_processing     228
1                      Data Smart       data_science     235
2        God Created the Integers        mathematics     197
3               Superfreakonomics          economics     179
4                     Orientalism            history     197
..                            ...                ...     ...
206      Structure and Randomness        mathematics     252
207  Image Processing with MATLAB  signal_processing     241
208                   Animal Farm            fiction     180
209                    Idiot, The            fiction     197
210            Christmas Carol, A            fiction     196

[211 rows x 3 columns]

In [17]:
df1

                            Title              Genre  Height
0        Fundamentals of Wavelets  signal_processing     228
1                      Data Smart       data_science     235
2        God Created the Integers        mathematics     197
3               Superfreakonomics          economics     179
4                     Orientalism            history     197
..                            ...                ...     ...
206      Structure and Randomness        mathematics     252
207  Image Processing with MATLAB  signal_processing     241
208                   Animal Farm            fiction     180
209                    Idiot, The            fiction     197
210            Christmas Carol, A            fiction     196

[211 rows x 3 columns]

In [18]:
df1['Genre'].unique()

array(['signal_processing', 'data_science', 'mathematics', 'economics',
       'history', 'science', 'psychology', 'fiction', 'computer_science',
       'nonfiction', 'philosophy', 'comic'], dtype=object)

In [19]:
for cols in df1['Genre'].unique():
    print(df1['Title'])

0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object
0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object

In [20]:
df1

                            Title              Genre  Height
0        Fundamentals of Wavelets  signal_processing     228
1                      Data Smart       data_science     235
2        God Created the Integers        mathematics     197
3               Superfreakonomics          economics     179
4                     Orientalism            history     197
..                            ...                ...     ...
206      Structure and Randomness        mathematics     252
207  Image Processing with MATLAB  signal_processing     241
208                   Animal Farm            fiction     180
209                    Idiot, The            fiction     197
210            Christmas Carol, A            fiction     196

[211 rows x 3 columns]

In [21]:
import numpy as np
dff = df1.groupby(['Genre','Title']).sum()

In [22]:
dff

                                                              Height
Genre             Title
comic             Batman Earth One                               265
                  Batman Handbook                                270
                  Batman: The Long Halloween                     258
                  Crisis on Infinite Earths                      258
                  Death of Superman, The                         258
...                                                              ...
science           Tao of Physics, The                            179
                  Theory of Everything, The                      217
signal_processing Fundamentals of Wavelets                       228
                  Image Processing & Mathematical Morphology     241
                  Image Processing with MATLAB                   241

[210 rows x 1 columns]

In [23]:
dff.head(60)

                                                                  Height
Genre            Title
comic            Batman Earth One                                    265
                 Batman Handbook                                     270
                 Batman: The Long Halloween                          258
                 Crisis on Infinite Earths                           258
                 Death of Superman, The                              258
                 Final Crisis                                        257
                 Flashpoint                                          265
                 History of the DC Universe                          258
                 Justice League: The Villain's Journey               258
                 Justice League: Throne of Atlantis                  258
                 Killing Joke, The                                   283
                 Superman Earth One - 1                              259
                 Superman Earth One - 2                              258
computer_science Cathedral and the Bazaar, The                       217
                 Data Structures Using C & C++                       235
                 Design with OpAmps                                  240
                 Introduction to Algorithms                          234
                 Let Us C                                            213
                 Making Software                                     232
                 Pointers in C                                       213
                 Power Electronics - Mohan                           237
                 Power Electronics - Rashid                          235
                 Principles of Communication Systems                 240
                 Structure & Interpretation of Computer Programs     240
data_science     Computer Vision, A Modern Approach                  255
                 Data Analysis with Open Source Tools                230
                 Data Mining Handbook                                242
                 Data Scientists at Work                             230
                 Data Smart                                          235
                 Elements of Information Theory                      229
                 Learning OpenCV                                     232
                 Machine Learning for Hackers                        233
                 Nature of Statistical Learning Theory, The          230
                 Neural Networks                                     240
                 Pattern Classification                              241
                 Python for Data Analysis                            233
                 Signal and the Noise, The                           233
                 Soft Computing & Intelligent Systems                242
                 Statistical Decision Theory'                        236
                 Statistical Learning Theory                         228
                 Think Complexity                                    230
economics        Age of Discontuinity, The                           178
                 Econometric Analysis                                242
                 Freakonomics                                        197
                 Journal of Economics, vol 106 No 3                  235
                 New Markets & Other Essays                          176
                 Rationality & Freedom                               213
                 Social Choice & Welfare, Vol 39 No. 1               235
                 Superfreakonomics                                   179
                 Textbook of Economic Theory                         242
                 Wealth of Nations, The                              175
fiction          20000 Leagues Under the Sea                         190
                 Amulet of Samarkand, The                            179
                 Angels & Demons                                     348
                 Animal Farm                                         180
                 Asami Asami                                         205
                 Ashenden of The British Agent                       160
                 Attorney, The                                       170
                 Batatyachi Chal                                     200
                 Brethren, The                                       174

In [24]:
dff.Height['signal_processing']

Title
Fundamentals of Wavelets                      228
Image Processing & Mathematical Morphology    241
Image Processing with MATLAB                  241
Name: Height, dtype: int64

In [25]:
df1['Genre'].unique()

array(['signal_processing', 'data_science', 'mathematics', 'economics',
       'history', 'science', 'psychology', 'fiction', 'computer_science',
       'nonfiction', 'philosophy', 'comic'], dtype=object)

In [26]:
def recommender_algo(genre):
    dff = df1.groupby(['Genre','Title']).sum()
    return dff.Height[genre]

In [27]:
recommender_algo(['comic'])

Genre  Title
comic  Batman Earth One                         265
       Batman Handbook                          270
       Batman: The Long Halloween               258
       Crisis on Infinite Earths                258
       Death of Superman, The                   258
       Final Crisis                             257
       Flashpoint                               265
       History of the DC Universe               258
       Justice League: The Villain's Journey    258
       Justice League: Throne of Atlantis       258
       Killing Joke, The                        283
       Superman Earth One - 1                   259
       Superman Earth One - 2                   258
Name: Height, dtype: int64

In [28]:
recommender_algo(['philosophy'])

Genre       Title
philosophy  Arthashastra, The                          214
            Ayn Rand Answers                           203
            Free Will                                  203
            History of Western Philosophy              213
            Identity & Violence                        219
            Justice, Judiciary and Democracy           224
            On Education                               203
            Philosophy: Who Needs It                   171
            Political Philosophers                     162
            Prince, The                                173
            Return of the Primitive                    202
            Story of Philosophy, The                   170
            Unpopular Essays                           198
            We the Nation                              216
            We the People                              216
            World's Great Thinkers, The                189
            Zen & The Art of Motorcycle Maintenance    172
Name: Height, dtype: int64

In [29]:
import pickle

In [30]:
with open('Recommender_algo','wb') as f:
    pickle.dump(recommender_algo,f)

In [31]:
with open('Recommender_algo','rb') as f:
    model = pickle.load(f)

In [32]:
model(['philosophy'])

Genre       Title
philosophy  Arthashastra, The                          214
            Ayn Rand Answers                           203
            Free Will                                  203
            History of Western Philosophy              213
            Identity & Violence                        219
            Justice, Judiciary and Democracy           224
            On Education                               203
            Philosophy: Who Needs It                   171
            Political Philosophers                     162
            Prince, The                                173
            Return of the Primitive                    202
            Story of Philosophy, The                   170
            Unpopular Essays                           198
            We the Nation                              216
            We the People                              216
            World's Great Thinkers, The                189
            Zen & The Art of Motorcycle Maintenance    172
Name: Height, dtype: int64

In [34]:
model(['science'])

Genre    Title
science  Artist and the Mathematician, The        186
         Broca's Brain                            174
         Code Book, The                           197
         Drunkard's Walk, The                     197
         Electric Universe                        201
         Hidden Connections, The                  197
         Information, The                         233
         Numbers Behind Numb3rs, The              202
         Oxford book of Modern Science Writing    240
         Physics & Philosophy                     197
         Simpsons & Their Mathematical Secrets    233
         Surely You're Joking Mr Feynman          198
         Tao of Physics, The                      179
         Theory of Everything, The                217
Name: Height, dtype: int64

In [33]:
df1['Genre'].unique()

array(['signal_processing', 'data_science', 'mathematics', 'economics',
       'history', 'science', 'psychology', 'fiction', 'computer_science',
       'nonfiction', 'philosophy', 'comic'], dtype=object)

In [35]:
model(['economics'])

Genre      Title
economics  Age of Discontuinity, The                178
           Econometric Analysis                     242
           Freakonomics                             197
           Journal of Economics, vol 106 No 3       235
           New Markets & Other Essays               176
           Rationality & Freedom                    213
           Social Choice & Welfare, Vol 39 No. 1    235
           Superfreakonomics                        179
           Textbook of Economic Theory              242
           Wealth of Nations, The                   175
Name: Height, dtype: int64